@model Cart

<div class="row text-center">
	<div class="col">
		<h3>Оформление заказа</h3>
		<form method="post">
			<label>Ваше ФИО:</label>
			<div>
				<input type="text" name="name" />
			</div>
			<label>Адресс доставки:</label>
			<div>
				<input type="text" name="address" />
			</div>
			<label>Ваш телефон:</label>
			<div>
				<input type="text" name="phone" />
			</div>
			<br />
			<button type="submit" class="btn btn-success" asp-controller="Order" asp-action="Buy">Оформить заказ</button>
		</form>
	</div>
</div>
<table class="table table-striped">
	<thead>
		<tr>
			<th>Название</th>
			<th>Цена руб.</th>
			<th>Количество</th>
			<th>Стоимость руб.</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model.Items)
		{
			<tr>
				<td>@item.Product.Name</td>
				<td>@item.Product.Cost</td>
				<td>@item.Amount</td>
				<td>@item.Cost</td>
				<td>
					<a href="/cart/decreaseAmount?productId=@item.Product.Id" class="btn btn-outline-dark" role="button">-</a>
					<a href="/cart/add?productId=@item.Product.Id" class="btn btn-outline-dark" role="button">+</a>
				</td>
			</tr>
		}
	</tbody>
</table>
<div>
	<h3>Итоговая сумма: @Model.Cost</h3>
</div>