@model UserAccount

<div class="row">
	<div class="col-3">
		@await Html.PartialAsync("AdminNav")
	</div>
	<div class="col-9 card">
		<h3>Реактирование пользователя</h3>
		<form method="post">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<div class="mb-3 col-md-9">
				<label asp-for="Name">Имя:</label>
				<input asp-for="Name" type="text" class="form-control" value="@Model.Name" />
				<span asp-validation-for="Name" class="text-danger"></span>
			</div>
			<div class="mb-3 col-md-9">
				<label asp-for="Surname">Фамилия:</label>
				<input asp-for="Surname" type="text" class="form-control" value="@Model.Surname" />
				<span asp-validation-for="Surname" class="text-danger"></span>
			</div>
			<div class="mb-3 col-md-9">
				<label asp-for="Email">Почта:</label>
				<input asp-for="Email" type="text" class="form-control" value="@Model.Email" />
				<span asp-validation-for="Email" class="text-danger"></span>
			</div>

			<div class="mb-3 col-md-9">
				<label asp-for="Phone">Телефон:</label>
				<input asp-for="Phone" type="text" class="form-control" value="@Model.Phone" />
				<span asp-validation-for="Phone" class="text-danger"></span>
			</div>
			<input type="hidden" asp-for="Id" />
			<button type="submit" asp-area="Admin" asp-controller="User" asp-action="Edit" class="btn btn-success">Сменить данные</button>
			<a asp-area="Admin" asp-controller="User" asp-action="Details" asp-route-id="@Model.Id" class="text-secondary">Отмениить изменения</a>
		</form>
	</div>
</div>