@model List<Product>

@{
	ViewData["Title"] = "Home Page";
}


<div class="row">
	@foreach (var product in Model)
	{
		<div class="col-3 card shadow">
			<a asp-area="" asp-controller="product" asp-action="index" asp-route-productId="@product.Id">
				<img class="card-img-top" src="@product.ImagePath">
			</a>
			<div class="card-body">
				<a style="color:black" asp-area="" asp-controller="product" asp-action="index" asp-route-productId="@product.Id">
					<h5>@product.Name</h5>
				</a>
				<h5>@product.Cost руб.</h5>
				<div class="row">
					<a class="btn btn-dark col-10" asp-area="" asp-controller="cart" asp-action="add" asp-route-productId="@product.Id">Добавить в корзину</a>
					<a class="btn col-2" role="button" asp-area="" asp-controller="wishlist" asp-action="add" asp-route-productId="@product.Id"><img src="/images/favorite-white.png" /></a>
				</div>
			</div>
		</div>
	}
</div>

