@model Cart

@if (Model == null || Model.Items.Count == 0)
{
	<h3>Корзина пуста</h3>
}
else
{
	<table class="table table-striped">
		<thead>
			<tr>
				<th>Название</th>
				<th>Цена руб.</th>
				<th>Количество</th>
				<th>Стоимость руб.</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			@foreach (var item in Model.Items)
			{
				<tr>
					<td>@item.Product.Name</td>
					<td>@item.Product.Cost</td>
					<td>@item.Amount</td>
					<td>@item.Cost</td>
					<td>
						<a href="/cart/decreaseAmount?productId=@item.Product.Id" class="btn btn-outline-dark" role="button">-</a>
						<a href="/cart/add?productId=@item.Product.Id" class="btn btn-outline-dark" role="button">+</a>
					</td>
				</tr>
			}
		</tbody>
	</table>
	<div>
		<h3>Итоговая сумма: @Model.Cost</h3>
	</div>
	<div>
		<a href="/order/index" class="btn btn-primary" role="button">Оформить заказ</a>
		<a href="/home/index" class="btn btn-secondary" role="button">Продолжить покупки</a>
		<a href="/cart/clear" class="btn btn-danger" role="button">Очистить корзину</a>
	</div>
}