@model OrderViewModel

<div class="row">
	<div class="col-3">
		@await Html.PartialAsync("UserProfileNav")
	</div>
	<div class="col-9">
		<div class="card">
			<h3>Ваши заказы</h3>
			<table class="table">
				<tr>
					<td class="text-secondary">Дата и время оформления:</td>
					<td>@Model.Time.ToShortDateString() в @Model.Time.ToShortTimeString()</td>
				</tr>
				<tr>
					<td class="text-secondary">Адрес доставки:</td>
					<td>@Model.User.Address</td>
				</tr>
				<tr>
					<td class="text-secondary">Получатель:</td>
					<td>@Model.User.Name</td>
				</tr>
				<tr>
					<td class="text-secondary">Телефон:</td>
					<td>@Model.User.Phone</td>
				</tr>
				<tr>
					<td class="text-secondary">Сумма заказа:</td>
					<td>@Model.Cost ₽</td>
				</tr>
				<tr>
					<td class="text-secondary">Статус заказа:</td>
					<td>@Model.CurrentStatus</td>
				</tr>
			</table>
		</div>
	</div>
</div>
